
*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 10px;
    font-family: 'Red Hat Text';
    color: rgb(96, 96, 96);
}

p{
    margin: 0;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 900px;
}

.topic{
    padding: 20px;
    
}

.row-2{
    padding: 20px;
    
}

.topic-image img{
    width: 100%;
}

.topic-heading{
    font-family: 'Red Hat Display';
    color: #e04a3f;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.topic-text{
    margin-bottom: 5px;
    text-align: justify;
    line-height: 25px;
}

.topic-text-container h4{
    padding: 4px;
    font-size: 20px;
}

.home-link{
    text-decoration: none;
    cursor: pointer;
    color: rgb(0, 154, 225);
}

